
  body {
    margin: 0;
    background-color: white;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/231/538/original/abstract-geometric-background-with-isometric-digital-blocks-blockchain-concept-and-modern-technology-illustration-free-vector.jpg");
    color: whitesmoke;
  }
  header {
    padding: 5px;
    text-align: center;

    color: white;
    font-size: 30px;
  }

.styled-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    opacity: 65%;
}
.styled-table thead tr {
    background-color: #727272;
    color: #bbbbbb;
    text-align: left;
}
.styled-table th {
    padding: 12px 15px;
    text-align: left;
}

.styled-table td {
    padding: 12px 15px;
    /* display: inline-block; */
    text-align: center;
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: rgb(62, 68, 74);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #a697ea;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #6d6d6d;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

div#summary {
    margin-left: 50px;
}

div#table{
    padding:20px
}

div#table > h2{
    text-align: center;
    color: silver;
    padding: 5px;
}

article {
    margin-left: 10%;
}